/* main */

html {
  scroll-behavior: smooth;
}

body {
  background: #1d1d1d;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

/* navigation styles */

.navbar {
  height: 60px;
  background: #1d1d1d;

  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}

.brand {
  text-transform: capitalize;
  font-weight: 500;
}

.links-container {
  display: flex;
  list-style: none;
}

.link {
  text-transform: capitalize;
  color: #a8a8a8;
  text-decoration: none;
  margin: 0 10px;
  padding: 10px;
  position: relative;
}

.nav-link {
  color: #a8a8a8;
}

.link:hover:not(.active) {
  opacity: 0.2;
  color: #a8a8a8;
}

.link.active::after,
.seperator::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fff;
}
/*home section*/

.home {
  min-height: calc(100vh - 60px);
  height: auto;
  margin-top: 5%;
  padding: 0 10vw;
}

.hero-heading {
  font-size: 5em;

  text-transform: capitalize;
}
@media screen and (max-width: 1200px) {
  .hero-heading {
    font-size: 2em;
  }
}

.highlight {
  color: #677df9;
  text-transform: uppercase;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}

.profession {
  width: max-content;

  margin: 10px 0 20px;
  margin-left: 5em;

  text-transform: capitalize;
  position: absolute;
  padding: 10px 20px;
  color: #1d1d1d;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
  z-index: 2;
}

.profession::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #e3e3e3;
  z-index: -1;
  transform: skewX(10deg);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}

.profession::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100px;
  width: 100px;
  height: 2px;
  background: #e3e3e3;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.35);
}

.intro {
  line-height: 1em;
  margin-top: 10%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.15em solid #1e3df1;

  opacity: 0;
  -webkit-animation: type 5s steps(50, end),
    blink 0.5s step-end infinite alternate;
  animation: type 5s steps(50, end), blink 0.5s step-end infinite alternate;
  -webkit-animation-delay: 4s;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes type {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid #1e3df1;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid #1e3df1;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}

.btn {
  margin-top: 5%;
  border-radius: 50px;
  background: #1e3df1;
  color: #fff;
  text-transform: capitalize;

  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}

.social {
  width: 60px;

  text-align: left;
  padding: 50px;
  margin-top: 50px;
}

.icon-linkedin {
  margin-left: 0;
  width: 60px;
  height: 50px;
  text-align: center;
  padding: 0px;
  color: #0077b5;
  border: 0;
  cursor: pointer;
  font-size: 2.5em;
  font-weight: 900;
  line-height: 50px;
  border-radius: 45px;
  display: inline-block;
  margin: 4px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}

.icon-github {
  left: 125px;
  top: 50px;
  width: 60px;
  height: 50px;

  background-image: url("https://img.icons8.com/small/452/github.png");
  border: 0;
  background-position: center;
  background-size: 50px;
  cursor: pointer;
  font-size: 2.5em;
  line-height: 50px;
  border-radius: 45px;
  display: inline-block;
  margin: 4px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}

.icon-linkedin:hover {
  background-color: #0077b5;
  color: white;
}

.icon-github:hover {
  -webkit-filter: invert(100%) !important;
}

.linkdin {
  color: #0097b5;
}

.self-portrait-container {
  overflow: hidden;
  border: 6px solid #677df9;
  border-radius: 50% !important;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}

.self-portrait {
  width: 100%;
  height: auto;
}

/* about section*/
.about {
  position: relative;
  display: grid;
  width: 100%;
  height: auto;
  padding: 50px 10vw;
}

.heading {
  text-align: center;

  position: relative;
  font-weight: 500;
  font-size: 3.5eem;
  text-transform: capitalize;
}

.sub-heading {
  text-align: center;

  position: relative;
  font-size: 1em;

  opacity: 0.7;
}

.seperator {
  width: 50%;
  margin-left: 25%;

  position: relative;
}
.about-me-container {
  position: relative;
  margin-top: 5%;

  width: 90%;
}

.about-image {
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}

.about-paragraph {
  font-size: 1.2em;

  font-weight: 300;
  line-height: 35px;
}

.video-wrapper {
  position: relative;
  margin-left: 35%;
  padding-bottom: 56.25%;
  margin-top: 1rem;
  height: 0;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;

  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}

/* skills section*/
.skills-container {
  position: relative;
  margin-top: 3em;
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-template-columns: auto auto;

  grid-gap: 20px;
}

.skill-card {
  height: 200px;
  position: relative;
  border-radius: 10px;
  border: 1px solid #464646;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  padding: 1.2em;
  transition: 0.7s;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}

.skill {
  font-size: 2rem;
  position: relative;
  color: #8f8f8f;


}

.skill-card:hover {
  background: var(--bg);
}

.skill-card:hover .skill {
  color: #fff;
}

/* education section */

.education {
  padding-top: 30px;
}
.education-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-left: 20%;
  margin-right: 20%;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 40px;

  list-style-type: none;
}

.education-card {
  height: auto;

  text-align: center;
  border-radius: 10px;
  border: 1px solid #464646;
  position: relative;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}

.school-name {
  position: relative;
  font-size: 2em;
  text-align: center;
  color: #8f8f8f;
}

.school-description {
  position: relative;
  font-size: 1em;
  font-weight: 300;

  padding-left: 0;
  margin-bottom: 10px;
  list-style: none;
  text-align: center;
}
.project-tile {
  padding-top: 40px;
}
.project {
  padding-top: 80px;
  align-items: center;
}

.projects-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pacman-container {
  height: 350px;
  width: 100%;
  padding: 50px 10vw;
  position: relative;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #464646;
  position: relative;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}
.projects-btn {
  margin: 2em;
  padding: 1em;
  position: relative;
  text-decoration: none;


  border-radius: 50px;
  background: #677df9;
  color: #fff;
  text-transform: capitalize;
  border: none;
  z-index: 9;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}
.projects-btn:hover {
  transform: scale(1.1);
}
/*contact section*/
.contact {
  align-items: center;
}
.contact-container {
  font-size: 2em;

  /*display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 50px;*/
}

.contact-image {
  border-radius: 10px;

  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
  height: 30%;
}

.contact-paragraph {
  font-size: 1.2em;
  font-weight: 300;
  line-height: 35px;
}

.social-link {
  color: cornflowerblue;
}
.social-link:hover {
  color: #1e3df1;
  font-size: 1.1em;
}
@media (max-width: 1300px) {
  .portrait-containter {
    margin-left: 20%;

    top: 0;

    margin-top: 20px;
    position: absolute;
    display: block;
  }
  .self-portrait {
    height: 100%;
  }
}
